body {
}
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 10px;
  top: 10px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-menu-wrap {
  position: fixed;
  top: 0;
  height: 100%;
}

.bm-menu {
  overflow: hidden !important;
  background: #fff;
  padding: 10px;
  top: 0;
}

.bm-item-list {
  color: green;
}

.bm-overlay {
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
}
